<a href="https://colab.research.google.com/github/Rohit-Thakre/Machine-Learning-/blob/main/Code/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/pokemon_data.csv")

In [ ]:
df.head()
cols = list(df.columns)
cols.remove("#")
cols

['Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [ ]:
df = pd.read_csv("/content/pokemon_data.csv", usecols=cols, index_col= None )
df.head()

                    Name Type 1  Type 2  ...  Speed  Generation  Legendary
0              Bulbasaur  Grass  Poison  ...     45           1      False
1                Ivysaur  Grass  Poison  ...     60           1      False
2               Venusaur  Grass  Poison  ...     80           1      False
3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False
4             Charmander   Fire     NaN  ...     65           1      False

[5 rows x 11 columns]

In [ ]:
df = pd.read_csv("/content/pokemon_data.csv", skiprows=[1,5,9], index_col= 0)
df.head()

                    Name Type 1  Type 2  ...  Speed  Generation  Legendary
#                                        ...
2                Ivysaur  Grass  Poison  ...     60           1      False
3               Venusaur  Grass  Poison  ...     80           1      False
3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False
5             Charmeleon   Fire     NaN  ...     80           1      False
6              Charizard   Fire  Flying  ...    100           1      False

[5 rows x 11 columns]

In [ ]:
df.rename(columns={"Name":"Test"})

                      Test   Type 1  Type 2  ...  Speed  Generation  Legendary
#                                            ...
2                  Ivysaur    Grass  Poison  ...     60           1      False
3                 Venusaur    Grass  Poison  ...     80           1      False
3    VenusaurMega Venusaur    Grass  Poison  ...     80           1      False
5               Charmeleon     Fire     NaN  ...     80           1      False
6                Charizard     Fire  Flying  ...    100           1      False
..                     ...      ...     ...  ...    ...         ...        ...
719                Diancie     Rock   Fairy  ...     50           6       True
719    DiancieMega Diancie     Rock   Fairy  ...    110           6       True
720    HoopaHoopa Confined  Psychic   Ghost  ...     70           6       True
720     HoopaHoopa Unbound  Psychic    Dark  ...     80           6       True
721              Volcanion     Fire   Water  ...     70           6       True

[797 rows x 11 columns]

In [ ]:
df = pd.read_csv("/content/pokemon_data.csv")

In [ ]:
df.columns = ['@@','Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [ ]:
df.head()

   @@                   Name Type 1  ... Speed  Generation  Legendary
0   1              Bulbasaur  Grass  ...    45           1      False
1   2                Ivysaur  Grass  ...    60           1      False
2   3               Venusaur  Grass  ...    80           1      False
3   3  VenusaurMega Venusaur  Grass  ...    80           1      False
4   4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [ ]:
df  = pd.read_csv("/content/pokemon_data.csv", usecols=["#", "HP",	"Attack", "Defense", "Sp. Atk",	"Sp. Def","Speed",	"Generation"	] , nrows= 100)

In [ ]:
df.head()

   #  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
0  1  45      49       49       65       65     45           1
1  2  60      62       63       80       80     60           1
2  3  80      82       83      100      100     80           1
3  3  80     100      123      122      120     80           1
4  4  39      52       43       60       50     65           1

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(15,8))
plt.yticks(range(0, 180, 5))
plt.subplot(1,2,1)
plt.plot(df.index, df["HP"], label = "HP")
plt.plot(df.index, df["Generation"], label = "Generation")

plt.subplot(1,2,2)
plt.plot(df["Speed"], label = "speed")

plt.legend()
plt.grid()
plt.show()

In [ ]:
df.head()

   #  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
0  1  45      49       49       65       65     45           1
1  2  60      62       63       80       80     60           1
2  3  80      82       83      100      100     80           1
3  3  80     100      123      122      120     80           1
4  4  39      52       43       60       50     65           1

In [ ]:
df_speed = df.groupby("Speed")

In [ ]:
keys = df_speed.size().keys()

In [ ]:
# values = df_speed.size().values()
values = df_speed.size().values

In [ ]:
plt.figure(figsize=(25,7))
plt.xticks(keys, rotation= 90)
plt.yticks(values)
plt.bar(keys, values, width = .5)
plt.grid()
plt.title("Speed graph")
plt.xlabel("speed")
plt.ylabel("appeared times")
plt.show()

In [ ]:
df_speed.ngroups

35

In [ ]:
df_speed.groups

{15: [85], 20: [44, 80], 25: [51, 95], 30: [14, 48, 52, 86, 87], 35: [17, 40, 72, 81], 40: [32, 49, 75, 97], 41: [34], 43: [9], 45: [0, 13, 45, 53, 73, 82, 88, 93], 50: [16, 37, 50, 96], 55: [28, 46, 59, 74, 76], 56: [20, 35], 58: [10], 60: [1, 41, 63, 90], 65: [4, 33, 38, 42], 70: [15, 26, 61, 67, 77, 78, 89, 94, 98], 71: [21], 72: [24], 75: [18, 91], 76: [36], 78: [11, 12], 80: [2, 3, 5, 29, 99], 85: [39, 60], 90: [30, 47, 54, 57, 65, 66, 68, 83], 95: [55, 62, 64], 97: [25], 100: [6, 7, 8, 27, 43, 79, 92], 101: [22], 105: [69, 84], 110: [31], 115: [58], 120: [56, 70], 121: [23], 145: [19], 150: [71]}

In [ ]:
df_HP = df.groupby("HP")

In [ ]:
df_HP.ngroups

32

In [ ]:
df_HP.groups

{10: [55], 25: [68, 88], 30: [24, 97, 99], 35: [28, 30, 51, 56, 91], 38: [42], 39: [4], 40: [16, 20, 26, 46, 57, 61, 65, 69, 78, 80], 44: [9], 45: [0, 13, 17, 48], 46: [37], 50: [14, 32, 59, 75, 83, 89, 98], 52: [90], 55: [25, 34, 63, 70, 71, 81], 58: [5], 59: [10], 60: [1, 15, 29, 31, 49, 52, 53, 92], 61: [38], 63: [21], 65: [18, 19, 27, 58, 62, 66, 76, 84, 93], 70: [35, 40, 54, 72], 73: [43], 75: [33, 47, 50], 78: [6, 7, 8], 79: [11, 12], 80: [2, 3, 60, 73, 77, 79, 82, 95], 81: [39], 83: [22, 23], 90: [36, 64, 67, 74, 85, 94], 95: [41, 86, 87], 105: [96], 115: [44], 140: [45]}

In [ ]:
from matplotlib import style
bg = style.available
# len(bg)
style.use("ggplot")

In [ ]:
plt.figure(figsize= (20,6.5))
plt.bar(df_HP.size().keys(), df_HP.size().values, width = .5)
plt.xticks(df_HP.size().keys(), rotation = 90, fontsize = 8)
plt.yticks(df_HP.size().values)
plt.title("HP")
plt.xlabel("keys")
plt.ylabel("no of times appeared")
plt.show()

In [ ]:
df_HP.size().max()

10

In [ ]:
df_HP.size().min()

1

In [ ]:
from sklearn.datasets import load_iris

In [ ]:
iris = load_iris()

In [ ]:
data = pd.DataFrame(iris.data, columns = iris.feature_names)
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
data["target"] = iris.target

In [ ]:
data.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [ ]:
data_tar = data.groupby("target")

In [ ]:
data_tar.size()

target
0    50
1    50
2    50
dtype: int64

In [ ]:
data_tar.groups

{0: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], 1: [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], 2: [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]}

In [ ]:
data_tar.ngroups

3

In [ ]:
df = pd.read_csv("/content/pokemon_data.csv")

In [ ]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [ ]:
type_grp = df.groupby("Type 1")

In [ ]:
type_grp.ngroups

18

In [ ]:
type_grp.groups.keys()

dict_keys(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire', 'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison', 'Psychic', 'Rock', 'Steel', 'Water'])

In [ ]:
type_grp.size()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
dtype: int64

In [ ]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [ ]:
df.Attack.dtypes

dtype('int64')

In [ ]:
df["Speed"] = df["Speed"].astype('float32')

In [ ]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...  45.0           1      False
1  2                Ivysaur  Grass  ...  60.0           1      False
2  3               Venusaur  Grass  ...  80.0           1      False
3  3  VenusaurMega Venusaur  Grass  ...  80.0           1      False
4  4             Charmander   Fire  ...  65.0           1      False

[5 rows x 12 columns]

In [ ]:
df.dtypes

#               int64
Name           object
Type 1         object
Type 2         object
HP              int64
Attack          int64
Defense         int64
Sp. Atk         int64
Sp. Def         int64
Speed         float32
Generation      int64
Legendary        bool
dtype: object

In [ ]:
df.Legendary = df["Legendary"].replace([True, False], [1, 0])

In [ ]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...  45.0           1          0
1  2                Ivysaur  Grass  ...  60.0           1          0
2  3               Venusaur  Grass  ...  80.0           1          0
3  3  VenusaurMega Venusaur  Grass  ...  80.0           1          0
4  4             Charmander   Fire  ...  65.0           1          0

[5 rows x 12 columns]

In [ ]:
leg = df.groupby("Legendary")

In [ ]:
leg.ngroups

2

In [ ]:
leg.size()

Legendary
0    735
1     65
dtype: int64

In [ ]:
gen = df.groupby("Generation")

In [ ]:
gen.ngroups

6

In [ ]:
np.sum(gen.size().values)

800

In [ ]:
gen.size()

Generation
1    166
2    106
3    160
4    121
5    165
6     82
dtype: int64

In [ ]:
dummy = pd.get_dummies(df["Type 1"])

In [ ]:
dummy.groupby("Bug").size()

Bug
0    731
1     69
dtype: int64

In [ ]:
df

       #                   Name   Type 1  ...  Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...   45.0           1          0
1      2                Ivysaur    Grass  ...   60.0           1          0
2      3               Venusaur    Grass  ...   80.0           1          0
3      3  VenusaurMega Venusaur    Grass  ...   80.0           1          0
4      4             Charmander     Fire  ...   65.0           1          0
..   ...                    ...      ...  ...    ...         ...        ...
795  719                Diancie     Rock  ...   50.0           6          1
796  719    DiancieMega Diancie     Rock  ...  110.0           6          1
797  720    HoopaHoopa Confined  Psychic  ...   70.0           6          1
798  720     HoopaHoopa Unbound  Psychic  ...   80.0           6          1
799  721              Volcanion     Fire  ...   70.0           6          1

[800 rows x 12 columns]

In [ ]:
plt.figure(figsize=(20,10))
plt.hist(df.Speed, histtype= "step", color = "m")
# plt.yticks(df.Speed)
plt.show()

In [ ]:
df

       #                   Name   Type 1  ...  Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...   45.0           1          0
1      2                Ivysaur    Grass  ...   60.0           1          0
2      3               Venusaur    Grass  ...   80.0           1          0
3      3  VenusaurMega Venusaur    Grass  ...   80.0           1          0
4      4             Charmander     Fire  ...   65.0           1          0
..   ...                    ...      ...  ...    ...         ...        ...
795  719                Diancie     Rock  ...   50.0           6          1
796  719    DiancieMega Diancie     Rock  ...  110.0           6          1
797  720    HoopaHoopa Confined  Psychic  ...   70.0           6          1
798  720     HoopaHoopa Unbound  Psychic  ...   80.0           6          1
799  721              Volcanion     Fire  ...   70.0           6          1

[800 rows x 12 columns]

In [ ]:
df.drop("#", axis = 1)

                      Name   Type 1  Type 2  ...  Speed  Generation  Legendary
0                Bulbasaur    Grass  Poison  ...   45.0           1          0
1                  Ivysaur    Grass  Poison  ...   60.0           1          0
2                 Venusaur    Grass  Poison  ...   80.0           1          0
3    VenusaurMega Venusaur    Grass  Poison  ...   80.0           1          0
4               Charmander     Fire     NaN  ...   65.0           1          0
..                     ...      ...     ...  ...    ...         ...        ...
795                Diancie     Rock   Fairy  ...   50.0           6          1
796    DiancieMega Diancie     Rock   Fairy  ...  110.0           6          1
797    HoopaHoopa Confined  Psychic   Ghost  ...   70.0           6          1
798     HoopaHoopa Unbound  Psychic    Dark  ...   80.0           6          1
799              Volcanion     Fire   Water  ...   70.0           6          1

[800 rows x 11 columns]

In [ ]:
df.rename(columns={"Name": "Test_Name"})

       #              Test_Name   Type 1  ...  Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...   45.0           1          0
1      2                Ivysaur    Grass  ...   60.0           1          0
2      3               Venusaur    Grass  ...   80.0           1          0
3      3  VenusaurMega Venusaur    Grass  ...   80.0           1          0
4      4             Charmander     Fire  ...   65.0           1          0
..   ...                    ...      ...  ...    ...         ...        ...
795  719                Diancie     Rock  ...   50.0           6          1
796  719    DiancieMega Diancie     Rock  ...  110.0           6          1
797  720    HoopaHoopa Confined  Psychic  ...   70.0           6          1
798  720     HoopaHoopa Unbound  Psychic  ...   80.0           6          1
799  721              Volcanion     Fire  ...   70.0           6          1

[800 rows x 12 columns]

In [ ]:
a = ['test','Name','Type 1','Type 2','HP','Attack','Defense','Sp. Atk','Sp. Def','Speed',
 'Generation','Legendary']

In [ ]:
newdf = pd.read_csv("/content/pokemon_data.csv", names = a)

In [ ]:
newdf.head()

  test                   Name  Type 1  ...  Speed  Generation  Legendary
0    #                   Name  Type 1  ...  Speed  Generation  Legendary
1    1              Bulbasaur   Grass  ...     45           1      FALSE
2    2                Ivysaur   Grass  ...     60           1      FALSE
3    3               Venusaur   Grass  ...     80           1      FALSE
4    3  VenusaurMega Venusaur   Grass  ...     80           1      FALSE

[5 rows x 12 columns]

In [ ]:
newdf.rename_axis("index")

      test                   Name   Type 1  ...  Speed  Generation  Legendary
index                                       ...
0        #                   Name   Type 1  ...  Speed  Generation  Legendary
1        1              Bulbasaur    Grass  ...     45           1      FALSE
2        2                Ivysaur    Grass  ...     60           1      FALSE
3        3               Venusaur    Grass  ...     80           1      FALSE
4        3  VenusaurMega Venusaur    Grass  ...     80           1      FALSE
...    ...                    ...      ...  ...    ...         ...        ...
796    719                Diancie     Rock  ...     50           6       TRUE
797    719    DiancieMega Diancie     Rock  ...    110           6       TRUE
798    720    HoopaHoopa Confined  Psychic  ...     70           6       TRUE
799    720     HoopaHoopa Unbound  Psychic  ...     80           6       TRUE
800    721              Volcanion     Fire  ...     70           6       TRUE

[801 rows x 12 columns]

In [ ]:
newdf.rename_axis(columns= "top index")

top index test                   Name   Type 1  ...  Speed  Generation  Legendary
0            #                   Name   Type 1  ...  Speed  Generation  Legendary
1            1              Bulbasaur    Grass  ...     45           1      FALSE
2            2                Ivysaur    Grass  ...     60           1      FALSE
3            3               Venusaur    Grass  ...     80           1      FALSE
4            3  VenusaurMega Venusaur    Grass  ...     80           1      FALSE
..         ...                    ...      ...  ...    ...         ...        ...
796        719                Diancie     Rock  ...     50           6       TRUE
797        719    DiancieMega Diancie     Rock  ...    110           6       TRUE
798        720    HoopaHoopa Confined  Psychic  ...     70           6       TRUE
799        720     HoopaHoopa Unbound  Psychic  ...     80           6       TRUE
800        721              Volcanion     Fire  ...     70           6       TRUE

[801 rows x 12 columns]

saturday night

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/BL-Flickr-Images-Book.csv", nrows = 500)

In [ ]:
df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              500 non-null    int64
 1   Edition Statement       45 non-null     object
 2   Place of Publication    500 non-null    object
 3   Date of Publication     494 non-null    object
 4   Publisher               350 non-null    object
 5   Title                   500 non-null    object
 6   Author                  341 non-null    object
 7   Contributors            500 non-null    object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            0 non-null      float64
 11  Engraver                0 non-null      float64
 12  Issuance type           500 non-null    object
 13  Flickr URL              500 non-null    object
 14  Shelfmarks              500 non-null    object
dtypes: float64(4), int64(1), object(10)
memory usage: 58.7+ KB

In [ ]:
to_drop = ["Corporate Author", "Corporate Contributors", "Former owner", "Edition Statement", "Author", "Publisher"]

In [ ]:
df.drop(columns= to_drop, axis = 1, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            500 non-null    int64
 1   Place of Publication  500 non-null    object
 2   Date of Publication   494 non-null    object
 3   Title                 500 non-null    object
 4   Contributors          500 non-null    object
 5   Engraver              0 non-null      float64
 6   Issuance type         500 non-null    object
 7   Flickr URL            500 non-null    object
 8   Shelfmarks            500 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 35.3+ KB

# droping unwanted cols

In [ ]:
df.drop("Engraver", axis = 1, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            500 non-null    int64
 1   Place of Publication  500 non-null    object
 2   Date of Publication   494 non-null    object
 3   Title                 500 non-null    object
 4   Contributors          500 non-null    object
 5   Issuance type         500 non-null    object
 6   Flickr URL            500 non-null    object
 7   Shelfmarks            500 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.4+ KB

In [ ]:
df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 8 columns]

#changing index

In [ ]:
df.Identifier.is_unique

True

In [ ]:
df.set_index("Identifier", inplace = True)

In [ ]:
df.head()

                Place of Publication  ...                           Shelfmarks
Identifier                            ...
206                           London  ...    British Library HMNTS 12641.b.30.
216         London; Virtue & Yorston  ...    British Library HMNTS 12626.cc.2.
218                           London  ...    British Library HMNTS 12625.dd.1.
472                           London  ...  British Library HMNTS 10369.bbb.15.
480                           London  ...     British Library HMNTS 9007.d.28.

[5 rows x 7 columns]

In [ ]:
df.dtypes

Place of Publication    object
Date of Publication     object
Title                   object
Contributors            object
Issuance type           object
Flickr URL              object
Shelfmarks              object
dtype: object

In [ ]:
 df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [ ]:
df.loc[:, 'Date of Publication']

Identifier
206       1879 [1878]
216              1868
218              1869
472              1851
480              1857
             ...
199977    1870 [1869]
201740           1870
203445           1846
203579           1838
203888           1863
Name: Date of Publication, Length: 500, dtype: object

In [ ]:
# tt = df["Date of Publication"].str.extract(r'^(\d{4})')
tt = df["Date of Publication"].str.extract(r'(\d{4})')

In [ ]:
tt

               0
Identifier
206         1879
216         1868
218         1869
472         1851
480         1857
...          ...
199977      1870
201740      1870
203445      1846
203579      1838
203888      1863

[500 rows x 1 columns]

In [ ]:
lst = ['[45452]', '[78939', 'd54668']
sr = pd.Series(lst)

In [ ]:
dd = sr.str.extract(pat = r'(\d{4})')
dd
# r'^(\d{4})'

      0
0  4545
1  7893
2  5466

In [ ]:
df["Place of Publication"].unique()

array(['London', 'London; Virtue & Yorston',
       'pp. 40. G. Bryan & Co: Oxford, 1898', 'London]', 'Coventry',
       'Christiania', 'Firenze', 'Amsterdam', 'Savona', 'Paris',
       'Puerto-Rico', 'New York', 'Hull', 'Oxonii', 'Milano', 'Aberdeen',
       'Wien', 'Abingdon', 'Quebec', 'Leipzig',
       'pp. 40. W. Cann: Plymouth, [1876?]', '1845', 'enk', 'Boston',
       'Upsaliæ', 'Edinburgh', 'Yverdon', 'Londini', 'St. Petersburg',
       'Berlin', 'Sceaux', 'Coblenz', 'Carlstad, Stockholm', 'Carlstad',
       'A. Millar', 'Allahabad]', 'Stuttgart', 'D. Appleton & Co',
       'Санктпетербургъ', 'Paisley', 'Napoli', 'Ἐν Κερκυρᾳ', 'Plymouth',
       'Trento', 'Heilbronn', 'Torino', 'w Krakowie',
       'Cambridge, [Mass.]', 'Bombay', 'Agen', 'Edinburgh & London',
       'Edinburgh; John Murray', 'Philadelphia', 'Haarlem', 'Albany',
       'Kjøbenhavn', 'Haderslev', 'Copenhague', 'Kiel',
       'pp. vi. 216. Hatchards: London, 1888', 'Baltimore', 'S. Paulo',
       'Londini Gothorum', 'Mamers', 'México', 'Mexico', 'Porto',
       'Bruxelles', 'Macerata', 'Tours', 'New-York', 'J. Vincent; London',
       'Palermo', 'Santiago', 'Edinburgh]', 'Chelmsford', 'Barcelona',
       'Glasgow', 'Inverness', 'Jedburgh', 'Westminster', 'Andover',
       'Lewes', 'Deventer', 'Providence', 'Frankfurt', 'Roma', 'Pescia',
       'London?]', 'London & New York', 'Exeter', 'London; Oxford',
       'Malton', 'Great Yarmouth', 'Chur', 'Moulins', 'Madrid',
       'Toulouse', 'Oxford', 'Berolini', 'Lipsiae', 'Niort', 'Stockholm',
       'Lecco', 'New York, London', 'Carlisle',
       'pp. 64. W. Cann: Plymouth, [1870?]', 'Dieppe', 'Pest',
       'Dorchester', 'Jenae', 'Kristiania', 'Salisbury', 'Meriden, Conn',
       'Paris; Moulins', 'Trévoux', 'München', 'Rouen', 'Adelaide',
       'Perth', 'Montevideo', 'T. C. Newby; London',
       'pp. 95. Erskine Macdonald: London, 1921', 'Bath',
       'pp. xi. 59. J. Parker & Co.: Oxford, [1900.]', 'Budapest',
       'Québec', 'Aberdeen?', 'Kolozsvártt', 'Birmingham', 'Lee',
       'Bristol', 'Kirkwall', 'Penzance', 'Dublin', 'Ipswich',
       'Karlsruhe', 'Bern', 'Aarau', 'Hartford, Conn',
       'Springfield, Mass', 'Wilno', 'Vannes', 'Basingstoke', 'Calcutta',
       'Nairn', 'Liverpool', 'Manchester', 'Jena', 'Phila., Pa',
       'Groningen', 'Bayonne', 'Trieste', 'xxu', 'Barton-upon-Humber',
       'Bordeaux', 'Edinburgh; reprinted by B. Dewhirst', 'Saint-Dizier',
       'Cooperstown, N.Y', 'Newark, N.J'], dtype=object)

In [ ]:
len(df["Place of Publication"].unique())