<a href="https://colab.research.google.com/github/Rohit-Thakre/Machine-Learning-/blob/main/Code/Pandas/1Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

In [ ]:
# pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [3]:
list = [1,6,-5,"pandas",12.2]
print(list)

[1, 6, -5, 'pandas', 12.2]

In [4]:
pd.Series(list)

0         1
1         6
2        -5
3    pandas
4      12.2
dtype: object

In [5]:
series = pd.Series([1,2,3,4,5,6], index = [6,5,4,3,2,1],name = "pd Serires", dtype = str)

In [6]:
series

6    1
5    2
4    3
3    4
2    5
1    6
Name: pd Serires, dtype: object

In [7]:
empty = pd.Series([], dtype = 'float64')
print(type(empty))
print(empty)

<class 'pandas.core.series.Series'>
Series([], dtype: float64)

In [8]:
data = pd.Series(0.5, index = [1,2,3,4,5],dtype = float)
data

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

In [9]:
a = pd.Series([1,2,3,4])

In [10]:
max(a)

4

In [11]:
min(a)

1

In [12]:
b = pd.Series([7,8,9], name = "data values")

In [13]:
print(b)

0    7
1    8
2    9
Name: data values, dtype: int64

In [14]:
max(a)

4

In [15]:
min(b)

7

In [16]:
max(b)

9

In [27]:
a

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
b

0    7
1    8
2    9
Name: data values, dtype: int64

In [17]:
a + b

0     8.0
1    10.0
2    12.0
3     NaN
dtype: float64

In [19]:
a[0]

1

In [20]:
a[0:2]

0    1
1    2
dtype: int64

In [21]:
a

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
dic = pd.Series({"name": "rohit", "class": "2nd year", "collage" : "GNIET"})
print(dic)

name          rohit
class      2nd year
collage       GNIET
dtype: object

In [23]:
series = pd.Series([1,2,3,41], index = [0,1,2,3])
series

0     1
1     2
2     3
3    41
dtype: int64

In [24]:
# dir(pd.Series)

In [25]:
series.T

0     1
1     2
2     3
3    41
dtype: int64

In [26]:
# pandas series to pandas numpy array
arr = series.array

In [29]:
arr

<PandasArray>
[1, 2, 3, 41]
Length: 4, dtype: int64